// COLORS// 
$white:#fff;
$offwhite:#fcfcfc;
$light_white: #f9fafc !default;
$light_green:#a4ac79;
$light_green_s:#d2d6ab;
$light_green_g:#d2d6aa;
$text_color:#676767;
$linkcolor:#54667a;
$link_icon:#808953;
$link_hover:#808953;
$riquired:#ff0000;
$secondary:#909aa3;
$light_gray:#eff1f3;

//border//
$no_border:0px !important; 
$border:1px solid rgba(0, 0, 0, 0.1);
$box_border:1px solid rgba(189, 153, 105, 0.4);
$border_btm:1px solid #d2d6aa;
$border_top:1px solid #d2d6aa;
$border_green:1px solid #d2d6aa;
$btn_primary_border:#808953;
$btn_secondary_border:#5a6268;

//padding//
$padding_20:20px;
$padding:10px;
$padding_0:0px;

//margin//
$margin:10px;
$margin_sml:2px;

//font size and weight//
$small_font:12px;
$small_font_1x:13px;
$default_font_size:14px;
$medium_font_size:16px;
$medium_font_size_xl:24px;
$font_size_large:30px;
$font_weight_300:300;



//button//
$button_primary:#a4ac79;
$button_primary_hover:#808953;
$button_primary_focus:#808953;
$button_secondary:#6c757d;
$button_secondary_hover:#5a6268;
$button_secondary_focus:#5a6268;


$min_width:100px;


